#drag{
    display: table;
}
div#drag table {
    background-color: #eee;
    border-collapse: collapse;
    margin: 7px;
}
div#drag td{
    border: 1px solid navy;
    height: 50px;
    text-align: center;
    font-size: 10pt;
    padding: 2px;
}
.drag{
    margin: auto;
    text-align: center;
    width: 100px;
    height: 25px;
    line-height: 25px;
    border: 2px solid SteelBlue;
    background-color: white;
    font-size: 0.8em;
} 
